.dropZoneContainer {
  width: 100%;
  max-width: 48rem;
  aspect-ratio: 16/9;
  border: 4px dashed black;
  background-color: white;
  cursor: pointer;
  transition: all 0.15s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropZoneContainer:hover {
  background-color: #f9fafb;
}

.iconBox {
  padding: 1.5rem;
  background: black;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  display: inline-flex;
  margin-bottom: 1rem;
}

.content {
  text-align: center;
}

.icon {
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem; /* mb-4 */
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
  color: black;
}

.subtitle {
  font-size: 1.125rem;
  color: #6b7280;
}

.hiddenInput {
  display: none;
}

.loading {
  cursor: wait;
  opacity: 0.8;
  pointer-events: none;
}

.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.spinner {
  animation: spin 1s linear infinite;
  margin-bottom: 1rem;
}

.loadingText {
  font-size: 1.25rem;
  font-weight: 500;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
